{% extends "layouts/base.html" %}{% load bootstrap %}
{% load static %}
{% block content %}
{% if user.status == 'Medecin' %}
    <h1 class="jumbotron m-5 text-xl-center">Page d'accueil e-sante Medecin</h1>
    <img style="width: 100%;" src="{% static "img/headerImg.jpg" %}" alt="">
{% elif user.status == 'Patient' %}

    <h1 class="jumbotron m-5 text-xl-center">Page d'accueil e-sante Patient</h1>
    <form method="post" style="margin:0 20%;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_patient" class="form-label">Patient</label>
            <input name="patient" type="text" class="form-control" id="patient" value="{{user.name}} {{user.firstname}}">
        </div>
        <select class="form-select" aria-label="">
            <option value="roger mila">roger mila</option>
            <option value="bob lee">bob lee</option>
            <option value="rico pop">rico pop</option>
        </select>
        <div class="mb-3">
            <label for="id_interprete" class="form-label">Interprete</label>
            <input name="Interprete" type="text" class="form-control" id="id_interprete">
        </div>
    </form>


{% else %}
    <h1 class="jumbotron m-5 text-xl-center">Page d'accueil e-sante Interprete</h1>
{% endif %}
{% endblock%}